<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main_routine">
    <%= render "shared/header" %>


    <div class="main">
      <div class="inner">
        <div class="form__wrapper">
          <h2 class="page-heading">新規routineの投稿</h2>
          <%= form_with model: @routine, local: true do |f|%>
            <div class="field">
              <%= f.label :title, "タイトル" %><br />
              <%= f.text_field :title, id:"routine_title" %>
            </div>

            <div class="field">
              <%= f.label :continued_time, "継続期間" %><br />
              <%= f.text_field :continued_time, class: :form__text, id:"routine_continued_time" %>
            </div>

            <div class="field">
              <%= f.label :introduction, "理由/効果" %><br />
              <%= f.text_area :introduction, class: :form__text, id:"routine_introduction" %>
            </div>

            <div class="field">
              <%= f.label :result, "結果" %><br />
              <%= f.text_area :result, id:"routine_result" %>
            </div>

            <div class="actions">
              <%= f.submit "保存する", class: :form__btn  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>