<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="routine-header">
    <div class="left-header-title">
      <%= link_to "Routines", root_path , class: :nav__title%>
    </div>
    <div class="nav__right">
      <% if user_signed_in? %>
        <%= link_to "My routines", my_routines_path,  class: :nav__btn %>
        <%= link_to "My routinesの追加", new_my_routine_path,  class: :nav__btn %>
        <%= link_to "みんなのroutines", routines_path, class: :nav__btn %>
        <%= link_to "投稿する", new_routine_path, class: :nav__btn %>
      <% else %>
        <%= link_to "みんなのroutines", routines_path, class: :nav__btn %>
      <% end %>
    </div>
  </div>
</header>
